
<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :leader %><br>
    <%= f.text_field :leader %>
  </div>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :farmer_count %><br>
    <%= f.number_field :farmer_count, :value => 0 %>
  </div>

  <div class="field">
    <%= f.label :thief_count %><br>
    <%= f.number_field :thief_count, :value => 0 %>
  </div>

  <div class="field">
    <%= f.label :investigator_count %><br>
    <%= f.number_field :investigator_count, :value => 0 %>
  </div>

  <div class="field">
    <%= f.label :number_of_rounds %><br>
    <%= f.number_field :number_of_rounds, :value => 8 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>