<!DOCTYPE html>
<html>
<head>
  <title>Crops and Robbers!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div align="center" class="container">
		<nav class="navbar navbar-expand navbar-light bg-light">
			<div class="navbar-nav" style="margin-left: auto; margin-right: auto; left: 0; right: 0;">
				<div class="m-2">
	  				<%= link_to 'Home', root_path%>
	  			</div>
	  			<div class="m-2">
	  				<%= link_to 'Refresh!', controller: "rooms", action: "show", id: @room %>
	  			</div>
	  			<% if current_user.name == @room.leader %>
	  				<div class="m-2">
						<%= button_to 'End', "/rooms/#{@room.id}/end" %>
					</div>
					<div class="m-2">
						<%= button_to 'Reset', :method => "start" %>
					</div>
				<% end %>
			</div>
	  	</nav>
		<h1>Game Over!</h1>
		<h2>
			Winner: Team <%= @robber_total > @village_total ? "Robbers!" : "Villagers!" %>
		</h2>
		<h3>
			Robber total crops: <%= @robber_total %>
		</h3>
		<h3>
			Village total crops: <%= @village_total %>
		</h3>

		<div class="m-2">
			<%= button_to 'Delete Everything', "/rooms/#{@room.id}/delete_everything" %>
		</div>
	</div>
</body>