<!DOCTYPE html>
<html>
<head>
  <title>Crops and Robbers!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<p>
  <strong>Hello <%= current_user.name %>!</strong>
</p>
<p>
  <strong>Code:</strong>
  <%= @room.code %>
</p>
<% if current_user.role.blank? %>
<p>
  Players:
  <br>
  <% @room.players.each do |player| %>
  	<%= player.name %> <br>
  <% end %>
</p>
</div>
<%= button_to 'Start', :method => "start" %>
<% else %>
	<p>
		You are a <%= current_user.role %>!
	</p>
	<div> You have <span id="score">0</span> crops!</div>
	<div <%= current_user.role != "thief" ? "style=display:none" : ""%>> You have <span id="lives">2</span> lives!</div>
	<div id="update"> </div>
	<div id="countdown"></div>
	<div id="options">
	<% if current_user.role == "thief" %>
	<p>
	  Rob:
	  <br>
	  <% @room.players.each do |player| %>
	  	<% unless player.name == current_user.name %>
	  		<% if player.role == "thief" %>
	  			<%= player.name %> is another thief! <br>
	  		<% else %>
	  		<button <%="onclick=rob("+"#{@room.id}"+","+"#{current_user.id}"+","+"#{player.id}"+")" %> ><%= "#{player.name}" %></button> <br>
	  		<% end %>
	  	<% end %>
	  <% end %>
	</p>
	<% elsif current_user.role == "farmer" %>
	<p>
		<button <%="onclick=farm("+"#{@room.id}"+","+"#{current_user.id}"+")" %> >Farm</button>
	</p>
	<p>
	  Guard:
	  <br>
	  <% @room.players.each do |player| %>
		  <% unless player.name == current_user.name %>
		  	<button <%="onclick=guard("+"#{@room.id}"+","+"#{current_user.id}"+","+"#{player.id}"+")" %> ><%= "#{player.name}" %></button> <br>
		  <% end %>
	  <% end %>
	</p>
	<% elsif current_user.role == "investigator" %>
	<p>
	  Investigate:
	  <br>
	  <% @room.players.each do |player| %>
		  <% unless player.name == current_user.name %>
		  	<button <%="onclick=investigate("+"#{@room.id}"+","+"#{current_user.id}"+","+"#{player.id}"+")" %> ><%= "#{player.name}" %></button> <br>
		  <% end %>
	  <% end %>
	</p>
	<% end %>
	<% if current_user.name == @room.leader %>
		<%= button_to 'End', "/rooms/#{@room.id}/end" %>
		<%= button_to 'Reset', :method => "start" %>
	<% end %>
<% end %>
<%= link_to 'Home', root_path%>
</body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script type="text/javascript">

	function get_info(user_id) {
		$.ajax({
	        type: "GET",
	        url: `/players/${user_id}/info`,
	        dataType: 'json',
	        success: function(result) {
	        	if (parseInt(document.getElementById("score").innerHTML, 10) > parseInt(result["score"])){
	        		document.getElementById("update").innerHTML = "You've been robbed!"
	        	} else if (parseInt(document.getElementById("lives").innerHTML, 10) > parseInt(result["lives"])){
	        		document.getElementById("update").innerHTML = "You've been shot!"
	        	} else {
	        		document.getElementById("update").innerHTML = " "
	        	}
	        	if (result["notice"] != null) {
	        		document.getElementById("update").innerHTML = result["notice"]
	        	}
	            document.getElementById("score").innerHTML = result["score"]
	            document.getElementById("lives").innerHTML = result["lives"]
	        },
	        error: function(result) {
	            alert(result)
	        }
	    });
	}

	var startTimer = function(user_id) {
		document.getElementById("countdown").style.display = "block"
		document.getElementById("options").style.display = "none"
		var timeleft = 10;
		var downloadTimer = setInterval(function(){
		  document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
		  timeleft -= 1;
		  if(timeleft <= 0){
		  	get_info(user_id)
		    clearInterval(downloadTimer);
		    document.getElementById("countdown").style.display = "none"
		    document.getElementById("options").style.display = "block"
		  }
		}, 1000);
	}

	function farm(room_id, user_id) {
		$.ajax({
	        type: "POST",
	        url: `/rooms/${room_id}/farm/${user_id}`,
	        success: function(result) {
	            startTimer(user_id)
	        },
	        error: function(result) {
	            alert('error');
	        }
	    });
	}

	function rob(room_id, user_id, affected_id) {
	    $.ajax({
	        type: "POST",
	        url: `/rooms/${room_id}/rob/${user_id}/${affected_id}`,
	        success: function(result) {
	        	startTimer(user_id)
	        },
	        error: function(result) {
	            alert('error');
	        }
	    });
	};

	function investigate(room_id, user_id, affected_id) {
	    $.ajax({
	        type: "POST",
	        url: `/rooms/${room_id}/investigate/${user_id}/${affected_id}`,
	        success: function(result) {
	        	startTimer(user_id)
	        },
	        error: function(result) {
	            alert('error');
	        }
	    });
	};

  	function guard(room_id, user_id, guard_id) {
	    $.ajax({
	        type: "POST",
	        url: `/rooms/${room_id}/guard/${user_id}/${guard_id}`,
	        success: function(result) {
	            startTimer(user_id);
	        },
	        error: function(result) {
	            alert('error');
	        }
	    });
	};
</script>
</html>